* {
    box-sizing: border-box;
}
body {
    background-color: #F2EDE5;
    font-family: 'Inter', sans-serif;
    max-width: 80%;
    margin: auto;
}

.dropdown {
    position: relative;        
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 380px;
    height: auto;
    margin-top: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;    
    z-index: 1;
    transform: translateX(-10%);
} 
.dropdown-content p {
    color: #707C8B;
    padding-left: 25px;
    margin-top: 0;
    margin-bottom: 20px;
}
.dropdown-content span {
    position: relative;
    top: 0;
    color: #1E2D45;
    font-weight: bold;    
}
.dropdown:hover .dropdown-content {
    display: block;
}

.header { /*Header Content*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5%;
}

.header a {           
    text-decoration: none;
    color: #7A7878;
    font-size: 0.9vw;
    padding: 15px 15px;
}
#top-nav , #nav-btns  {        
    padding: 15px 0;
}
#nav-btns :last-child, #trial-btn {
    background-color: #1E391D;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    font-size: 0.9vw;
    text-decoration: none;    
}
div a {
    padding: 0 15px;
}
#mobile-menu {
    display: none;
} /*Header Content*/

#content { /*Main Content*/
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.main-content {    
    float: left;
    max-width: 60%;
    margin-top: 5%;    
}
.main-content h1 {font-size: 4vw;}
.main-content p, .main-content div {color:#7A7878;}
.main-content div img {padding: 0 10px;}
.main-content img{
    max-width: 100%;
    height: auto;
} /*Main Content*/

#footer {margin-top: 5%;} /* Footer Content */
#footer p {
    text-align: center;
    color: #7A7878;
}
#footer-img {
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    margin: auto;
} /* Footer Content */

@media only screen and (max-width: 600px) {
    body {
        max-width: 85%;
        margin: auto;
    }

    #top-nav, #nav-btns { /*Header Content*/
        display: none;  /* Hides the top navigation and the log in butttons on the header. */ 
    }
    #mobile-menu {
        display: contents; /* Displays the Hamburger menu on mobile screens. */   
    } /*Header Content*/

    #hero-image { /*Main Content*/
        display: none; /* Hides he hero image on mobile screens. */
    }
    .main-content {
        max-width: 100%;
    }
    .main-content h1 {font-size: 9vw;}
    #trial-btn {font-size: 4vw; margin: 10px 0;} /*Main Content*/

    #footer {margin-top: 10%;} /* An attempt to make footer logos span two columns on mobile devices.*/
    #footer-img {
        display: flex;
        flex-wrap: wrap;    
    } #footer-img img {max-width: 90%;}
}