* {
    box-sizing: border-box;
}

body {
    max-width: 70%;    
    margin: auto;
    font-family: 'Inter', sans-serif;
    background-color: #F2EDE5;   
}
#header {    
    height: 80px;
    margin-top: 20px;     
}

#logo {
    margin: 25px 0;
}
.header_content {
    float: left;    
}

#main_nav {
    margin: 15px 215px;
    font-size: 14px;
    font-weight: bold;
}
#main_nav a {    
    display: inline-block;
    padding: 15px;    
    text-decoration: none;
    color: #B1AEA9; 
}   

#signin {
    float: right;
    margin: 15px 0;
    font-size: 14px;
    font-weight: bold;
}
.sign {
    float: left;
    text-decoration: none;
    color: #B1AEA9;
    padding: 0 15px; /* 15px on the sides */
}
.free {
    background-color: #1E391D;
    color: white;
    border-radius: 8px;
}

